	------
	Product information
	------
	
Release Details

*--------------------------------*-------------------------*
| Transport Service Version      | ${project.version}      |
*--------------------------------*-------------------------*

FOSS

*-------------------------*-------------------------*---------------------------------------------------------------------------------------------------------------------------*
||Name                    ||Version                 || Link                                                                                                                     |
*-------------------------*-------------------------*---------------------------------------------------------------------------------------------------------------------------*
| Guava, Google		      | 18.0			        | {https://bazaar.internal.ericsson.com/b-view-component.php?componentid=16027&category}	 								|
*-------------------------*-------------------------*---------------------------------------------------------------------------------------------------------------------------*
| Apache Commons IO       | 2.4			            | {https://bazaar.internal.ericsson.com/b-view-component.php?componentid=4125&category}   									|
*-------------------------*-------------------------*---------------------------------------------------------------------------------------------------------------------------*
| Mockito                 | 1.10.17                 | {https://bazaar.internal.ericsson.com/b-view-component.php?componentid=21650&category} 									|
*-------------------------*-------------------------*---------------------------------------------------------------------------------------------------------------------------*
| JUnit                   | 4.1                     | {https://bazaar.internal.ericsson.com/b-view-component.php?componentid=4693&category} 									|
*-------------------------*-------------------------*---------------------------------------------------------------------------------------------------------------------------*
| Apache Log4J            | 1.2.17                  | {https://bazaar.internal.ericsson.com/b-view-component.php?componentid=2945&category}										|
*-------------------------*-------------------------*---------------------------------------------------------------------------------------------------------------------------*
| Apache Kafka            | 0.9.0.0                 | {https://bazaar.internal.ericsson.com/b-view-component.php?componentid=21865&category}									|
*-------------------------*-------------------------*---------------------------------------------------------------------------------------------------------------------------*
| Zookeeper               | 3.4.8                   | {https://bazaar.internal.ericsson.com/b-view-component.php?componentid=23003&category}			   						|
*-------------------------*-------------------------*---------------------------------------------------------------------------------------------------------------------------*
| Apache Curator          | 2.6.0                   | {https://bazaar.internal.ericsson.com/b-view-component.php?componentid=15062&category}									|
*-------------------------*-------------------------*---------------------------------------------------------------------------------------------------------------------------*